html,
body {
  font-family: "Roboto Mono", monospace;
}
.split{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  width: 100%;
  height: 100%;
}
.container {
  width:100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chart-container {
  margin: 20px auto;
  max-width: 1000px;
  width: 100%;
  border: 1px solid lightblue;
}
hr {
  width:100%;
  margin: 10px ;
  border-color: lightblue;
  border-width: 0.5px;
}

@media (max-width: 1250px) {
  .split {
    flex-direction: column;
  }
}
